for isofile in $isopath/ubuntu-*-server-*.iso; do
  if [ -e "$isofile" ]; then
    regexp --set=isoname "$isopath/(.*)" "$isofile"
    submenu "$isoname (loopback.cfg) ->" "$isofile" {
      iso_path="$2"
      export iso_path
      search --set=root --file "$iso_path"
      loopback loop "$iso_path"
      root=(loop)
      configfile /boot/grub/loopback.cfg
      loopback --delete loop
    }
  fi
done


#for isofile in $isopath/ubuntu-*-server-amd64.iso; do
#  if [ -e "$isofile" ]; then
#    regexp --set=isoname "$isopath/(.*)" "$isofile"
#    submenu "$isoname ->" "$isofile" {
#      iso_path="$2"
#      loopback loop "$iso_path"
#
#      menuentry "Install Ubuntu Server" {
#        set gfxpayload=keep
#        linux	(loop)/install/vmlinuz   boot=casper iso-scan/filename=${iso_path} quiet  ---
#        initrd	(loop)/install/initrd*
#      }
#
#      menuentry "Check disc for defects" {
#        linux	(loop)/casper/vmlinuz  boot=casper integrity-check iso-scan/filename=${iso_path} quiet splash ---
#        initrd	(loop)/casper/initrd*
#      }
#
#      menuentry "Rescue a broken system" {
#        linux	/install/vmlinuz  rescue/enable=true --
#        initrd	/install/initrd*
#      }
#
#      # blackscreen?
#      #menuentry "Test memory" {
#      #  linux16	(loop)/install/mt86plus
#      #}
#
#    }
#  fi
#done
